* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


h1{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-style: italic;
    font-family: 'Georgia', serif;
}

h1 img {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    vertical-align: middle;
}
 .video-wrapper {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      z-index: -1;
    }
    
    .video-wrapper video {
      width: 100%;
      height: 100%;
      object-fit: cover;}







.hero {
    height: 100vh;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    
}

nav ul {
    display: flex;
    list-style: none;
    position: relative;
    top: 20px;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
     font-family: 'Georgia', serif;
}

.hero-text {
    text-align: center;
    margin-top: 150px;
}

.hero-text h2 {
    font-size: 40px;
}

.hero-text p {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background: gold;
    cursor: pointer;
    border-radius: 10px;
}

button.secondary {
    background: transparent;
    border: 1px solid white;
    color: white;
}

.about {
    padding: 80px 10%;
    background: #f9f9f9;
}

.about-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-wrap: wrap;
}

.about-text {
    flex: 1;
    min-width: 300px;
}

.about-text h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about-text p {
    margin-bottom: 15px;
    line-height: 1.6;
    color: #555;
}

.about-extra {
    flex: 1;
    min-width: 300px;
}

.about-extra h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #111;
}

.socials {
    margin-top: 20px;
}

.socials a {
    display: inline-block;
  
    
}

.socials a:hover {
    
    color: #000;
    transform: translateY(-5px);
}
.socials a img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}